<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h4>

      <ul>
        <% category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Create Category', class: 'btn btn-primary' %>
  </div>
<% end %>
